.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #f2f2f2;
  padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 35%,
    rgba(252, 176, 69, 1) 73%
  );
  overflow: hidden;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background: rgba(252, 176, 69, 1);
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: rgba(253, 29, 29, 1);
}

.nav-right {
  float: right;
}
